<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Lista de Colaboradores
            <a href="/#/colaborador/novo" class="pull-right">Adicionar</a>
        </div>
        <div class="panel-body">
            <!--Input de Busca-->
            <div class="col-md-5 input-group">
                <input ng-model="nomeFiltro" type="search" class="form-control" placeholder="digite o nome ou o cargo do colaborador">
                <span class="input-group-btn">
                    <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();"><span class="fa fa-search"></span> Filtrar</button>
                    <button class="btn btn-default" ng-click="init();">Limpar</button>
                </span>
            </div>
            <br>
            <div ng-show="colaboradores.length" class="table-responsive">
                <table ng-init="init()" class="table table-bordered table-hover">
                    <tr>
                        <th>Nome Completo</th>
                        <th>Email</th>
                        <th>Cargo</th>
                    </tr>
                    <tr ng-repeat="colaborador in colaboradores">
                        <td><a href="/#/colaborador/detalhe/{{colaborador.id}}">{{colaborador.nome}}</a></td>
                        <td>{{colaborador.email}}</td>
                        <td>{{colaborador.cargo}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>