<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Lista de Colaboradores
            <a href="/#/colaborador/novo" class="pull-right">Adicionar</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Nome Completo</th>
                        <th>CPF</th>
                        <th>PIS</th>
                    </tr>
                    <tr>
                        <td><a href=""></a></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>